
	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	body {
 		background-color: #fff;
		margin: 20px 40px;
		color: #4F5155;
	}

	text {
		font-family: 'Oswald', sans-serif !important;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	.header {
		width: 100%;
		border-bottom: 3px solid #D0D0D0;
	}

	fieldset {
		border: none;
		padding: 0;
		position: relative;
		width: 50%;
		margin: 0 auto 20px;
	}

	.search-input {
    border: none;
    height: 40px;
		width: 75%;
		float: left;
		padding: 0 0 0 19px;
		background-color: #fcfcfc;
		box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
	}

	button {
		height: 40px;
		width: 22%;
		margin: 0;
		padding: 0;
		float: left;
    border: none;
    height: 40px;
		background-color: #CF7B82;
		cursor: pointer;
	}

	.goback {
		margin: 0 auto;
		float: none;
		display: block;
		margin-top: 15px;
	}

	.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

	h1 {
		text-align: center;
		color: #444;
		font-size: 32px;
		font-weight: normal;
		margin: 0;
		padding: 14px 15px 10px 15px;
	}

	/* #wordcloud {
		margin-top: -70px;
	} */

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body {
		margin: 0 15px 0 15px;
	}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	#container {
		margin: 10px;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
	}
